:root {
    --color-background: #F3F4F6;
    --color-converter: #FFFFFF;
    --color-title: #374151;
    --color-text: #000000;
    --color-select: #EFEFEF;
    --color-border: #D1D5DB;
    --color-swap: #E5E7EB;
    --color-button: #4F46E5;

    --font-family-base: 'Inter', sans-serif;

   --border: 1px solid var(--color-border);

   --container-width: 1536px;

   --transition-duration: 0.2s;
}

.darkmode {
    --color-background: #1F1F1F;
    --color-converter: #262626;
    --color-title: #B4B4B4;
    --color-text: #959595;
    --color-select: #343434;
    --color-border: #959595;
    --color-swap: #343434;
    --color-text-white: #FFFFFF;
    --color-button: #659CA3;
}

body {
    font-family: var(--font-family-base);
    background-color: var(--color-background);
}

a,
button,
input,
textarea, 
svg * {  /*все дочерние элементы внутри svg*/
    transition-duration: var(--transition-duration);
}

.container{
   --container-padding-x: 192px;
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto; /*центрируем по горизонтали*/
    padding-inline: var(--container-padding-x); /*внутренние горизонтальные отступы*/
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.button {
    display: flex;
    height: 40px;
    align-items: center;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: var(--color-button);
    color: var(--color-converter);
    border: none;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 8px;
}

.button:hover {
    background-color: rgb(99, 81, 238);
}

.darkmode .button:hover {
    background-color: #72b4bd;
}

.theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--color-converter);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 100;
    box-shadow: 9px 7px 7px -1px rgba(176, 176, 176, 0.3);
}

.darkmode .theme-switch {
    box-shadow: 9px 7px 7px -1px rgba(0, 0, 0, 0.3);
}

.theme-switch svg {
    fill: var(--color-title);
}

.theme-switch svg:last-child {
    display: none;
}

.darkmode .theme-switch svg:first-child {
    display: none;
}

.darkmode .theme-switch svg:last-child {
    display: block;
}

.currency-converter {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 431px;
}

.currency__wrapper {
    box-sizing: border-box;
    max-width: 576px;
    width: 100%;
    min-width: 350px;
    padding-inline: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: var(--color-converter);
    border-radius: 8px;
    box-shadow: 9px 7px 7px -1px rgba(176, 176, 176, 0.3);
}

.darkmode .currency__wrapper {
    box-shadow: 9px 7px 7px -1px rgba(0, 0, 0, 0.3);
}

.currency__title {
    color: var(--color-title);
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

.currency__field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.currency__field--input {
    margin-top: 15px;
}

.currency__label {
    color: var(--color-title);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.currency__input,
.currency__output {
    background-color: var(--color-converter);
    color: var(--color-text);
    box-shadow: 2px 6px 7px 1px rgba(176, 176, 176, 0.3);
    border: var(--border);
    border-radius: 8px;
    padding: 9px;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.darkmode .currency__input,
.currency__output {
    color: var(--color-text-white);
    box-shadow: 2px 6px 7px 1px rgba(0, 0, 0, 0.3);
}

.currency__input::-webkit-outer-spin-button,
.currency__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.currency__input[type="number"] {
    -moz-appearance: textfield;
}

.currency__output {
    margin-top: 15px;
}

.currency__input-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.currency__spin-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 5px;
}

.currency__spin-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 10px;
    color: var(--color-border);
    user-select: none;
    border-radius: 4px;
    transition: background 0.15s ease, color 0.15s ease;
}

.currency__spin-btn:hover {
  color: var(--color-button);
}

.currency__list-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 15px;
    gap: 10px;
}

.currency__swap-icon-wrapper {
    height: 32px;
    width: 32px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--color-select);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.currency__swap-icon {
    width: 16px;
    height: 16px;
}

.darkmode .currency__swap-icon path {
    fill: var(--color-border);
}

.currency__select {
    font-size: 16px;
    font-weight: 400;
    padding: 9px 13px;
    padding-right: 100px;
    width: 100%;
    max-width: 168px;
    min-width: 0;
    color: var(--color-text);
    background-color: var(--color-select);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='{COLOR}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'></polyline></svg>");
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%234F46E5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'></polyline></svg>");
    background-repeat: no-repeat;
    background-position: right 13px center;
    background-size: 14px;
    
    border: var(--border);
    border-radius: 8px;
    
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    &::-ms-expand {
        display: none;
    }
    
    cursor: pointer;
}

.darkmode .currency__select {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23659CA3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'></polyline></svg>");
}

.currency__actions {
    display: flex;
    justify-content: flex-end;
}

.currency__button {
    margin-top: 25px;
}

.history-section {
    display: flex;
    gap: 60px;
    margin: 80px 0;
    align-items: flex-start;
    flex-wrap: wrap;
}

.currency-chart {
    flex: 1 1 715px; 
    display: flex;
    min-width: 0;
    align-items: flex-start;
    gap: 10px;
}

.currency-chart__wrapper {
    position: relative;
    width: 100%; 
    height: 500px;
    min-width: 375px;
}

.currency__select--history {
    width: auto;
    min-width: 120px;
    margin-bottom: 10px;
    padding-right: 0;
}

.chart-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: 500;
    color: var(--color-title);
    z-index: 10;
}

.conversion-history {
    width: 280px;
    flex-shrink: 0;
    flex-grow: 1; 
}

.currency__wrapper--history {
    max-width: 100%;
}

.conversion-history__top {
    display: flex;
    justify-content: space-between;
}

.conversion-history__clear-all {
    cursor: pointer;
    color: var(--color-border);
    transition: var(--transition-duration);
    font-size: 20px;
}

.conversion-history__clear-all:hover {
    color: var(--color-button);
}

.conversion-history__title {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 16px 0;
    color: var(--color-title);
}

.conversion-history__list {
    list-style: none;
    padding: 0;
    font-size: 16px;
}

.hidden {
    display: none;
}

.conversion-history__item {
    padding: 10px 0;
    color: var(--color-text);
    transition: var(--transition-duration);
    cursor: pointer;
}

.conversion-history__item:not(:last-child) {
    border-bottom: var(--border);
}

.conversion-history__item:hover {
   background-color: #f3f3f3;
}

.darkmode .conversion-history__item:hover {
   background-color: #575757;
}

.conversion-history__empty {
    color: var(--color-text);
}

.conversion-history__item-content {
    display: flex;
    justify-content: space-between;
}

.conversion-history__arrow {
    color: var(--color-button);
}

.conversion-history__delete-btn {
    color: var(--color-border);
    transition: var(--transition-duration);
}

.conversion-history__delete-btn:hover {
    color: var(--color-button);
}

@media (max-width: 768px) {
    .container {
        --container-padding-x: 40px;
        padding-right: 70px;
    }

    .button:hover {
        background-color: var(--color-button);
    }

    .button:active {
        background-color: rgb(99, 81, 238);
    }

    .darkmode .button:active {
        background-color: #72b4bd;
    }

    .theme-switch {
        height: 40px;
        width: 40px;
        top: 15px;
        right: 20px;
    }

    .currency__spin-btn:hover {
        color: var(--color-border);
    }

    .currency__spin-btn:active {
        color: var(--color-button);
    }

    .conversion-history__clear-all:hover {
        color: var(--color-border);
    }

    .conversion-history__clear-all:active {
        color: var(--color-button);
    }

    .conversion-history__item:hover {
        background-color: var(--color-converter);
    }

    .conversion-history__item:active {
        background-color: #f3f3f3;
    }

    .darkmode .conversion-history__item:active {
        background-color: #575757;
    }

    .conversion-history__delete-btn:hover {
        color: var(--color-border);
    }

    .conversion-history__delete-btn:active {
        color: var(--color-button);
    }

}

@media (max-width: 576px) {
    .currency__wrapper {
        min-width: 300px;
    }

    .currency-chart {
        flex: 1 1 466px;
        align-items: center;
        flex-direction: column;
    }

    .currency__select {
        padding-right: 65px;
    }

    .currency__select--history {
        width: 100%;
    }

    .currency__wrapper--history {
        max-width: 100%;
    }

    .currency-chart__wrapper {
        min-width: 300px;
    }
}

@media (max-width: 425.98px) {
    .container {
        --container-padding-x: 15px;
        padding-right: 15px;
    }

    .button {
        font-size: 13px;
    }

    .theme-switch {
        right: 15px;
    }
    
    .currency__wrapper {
        margin-top: 55px;
    }

    .currency__title {
        font-size: 21px;
    }

    .currency__label {
        font-size: 11px;
    }

    .currency__input, .currency__output {
        font-size: 15px;
    }

    .currency__select {
        font-size: 13px;
    }

    .currency__swap-icon-wrapper {
        height: 29px;
    }

    .currency__swap-icon {
        width: 14px;
        height: 14px;
    }

    .currency-chart__wrapper {
        height: 300px;
    }

    .currency__wrapper--history {
        margin-top: 15px;
    }

    .conversion-history__title {
        font-size: 18px;
    }

    .conversion-history__clear-all {
        font-size: 17px;
    }

    .conversion-history__list {
        font-size: 14px;
    }
}

@media (max-width: 375.98px) {
    .container {
        --container-padding-x: 10px;
        padding-right: 10px;
    }

    .theme-switch {
        right: 10px;
    }

    .currency__swap-icon-wrapper {
        height: 32px;
    }

    .currency__swap-icon {
        width: 13px;
        height: 13px;
    }
}

@media (max-width: 320px) {
    .button {
        height: 35px;
        padding: 8px 16px;
        font-size: 11px;
    }

    .currency__title {
        font-size: 19px;
    }

    .currency__input, .currency__output {
        font-size: 13px;
    }

    .currency__select {
        font-size: 11px;
    }

    .currency__swap-icon-wrapper {
        height: 29px;
        width: 29px;
    }

    .currency__swap-icon {
        width: 14px;
        height: 14px;
    }

    .currency__button {
        margin-top: 20px;
    }

    .history-section {
        margin: 35px 0;
    }

    .currency-chart__wrapper {
        height: 230px;
    }

    .currency__wrapper--history {
        margin-top: 0;
    }

    .conversion-history__title {
        font-size: 16px;
    }

    .conversion-history__clear-all {
        font-size: 15px;
    }

    .conversion-history__list {
        font-size: 12px;
    }
}