:root {
    --color-background: #F3F4F6;
    --color-converter: #FFFFFF;
    --color-title: #374151;
    --color-text: #000000;
    --color-focus: #EFEFEF;
    --color-border: #D1D5DB;
    --color-swap: #E5E7EB;
    --color-button: #4F46E5;

    --font-family-base: 'Inter', sans-serif;

   --border: 1px solid var(--color-border);

   --container-width: 1536px;

   --transition-duration: 0.2s;
}

.darkmode {
    --color-background: #1F1F1F;
    --color-converter: #262626;
    --color-title: #B4B4B4;
    --color-text: #959595;
    --color-focus: #343434;
    --color-border: #959595;
    --color-swap: #343434;
    --color-text-active: #FFFFFF;
    --color-button: #659CA3;
}

body {
    font-family: var(--font-family-base);
    background-color: var(--color-background);
}

a,
button,
input,
textarea, 
svg * {  /*все дочерние элементы внутри svg*/
    transition-duration: var(--transition-duration);
}

.container{
   --container-padding-x: 192px;
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto; /*центрируем по горизонтали*/
    padding-inline: var(--container-padding-x); /*внутренние горизонтальные отступы*/
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.button {
    display: inline-flex;
    height: 40px;
    align-items: center;
    padding: 20px 8px;
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: var(--color-button);
    border: none;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 8px;
}

.button:hover {
    background-color: rgb(146, 136, 217);
}
